/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */


/* 1. App.js (no aply) */


/* 2. Header.js */

/* .logo{
  font-size: 30px;
  font-weight: bold;
  margin-left: 50px;
}

nav, ul{
  margin: 5px;
  list-style: none; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 95px;
}

ul, li{
  margin: 10px;
  padding: 0 14px 0 14px;
  font-size: 17px;
}
ul, li:first-child{
  padding-left: 0px;
} */


/* 3. Product.js */

/* table{
  width: 50%;
} */

/* table,
tr,
td{
  margin: auto;
  border: 1px solid #000;
  border-collapse: collapse;  
}

thead{
  font-weight: bold; 
} */


/* 4. Footer.js / SocialLink.js */

/* .footer{
  margin-top: 10%;
}

.f1{
  display: flex;
  justify-content: space-evenly;
} */




/* 1. Header.js */

.f{
  margin-right: 600px;
}




/* 2. Home.js(React js--Final-Exam) */

.single-product-item {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.single-product-item:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.w{
  display: flex;
  flex-wrap: wrap;
}

.single-product-item {
  margin-bottom: 30px;
  position: relative;
  margin-right: 18px;
}
.single-product-item h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.single-product-item {
  -webkit-box-shadow: 0 0 20px #e4e4e4;
  box-shadow: 0 0 20px #e4e4e4;
  padding-bottom: 50px;
  border-radius: 5px;
}

.like{
  position: absolute;
  top: 12px;
  left: 370px;
  cursor: pointer;
}

.product-image img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.product-image img:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.product-image {
  padding: 30px;
  padding-bottom: 0;
}

.product-image img {
  width: 90%;
  border-radius: 5px;
  margin-bottom: 20px;
}

td.product-image img {
  max-width: 70px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0;
}

p.product-price {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

p.product-price span {
  display: block;
  opacity: 0.8;
  font-size: 15px;
  font-weight: 400;
}

a.cart-btn {
  border-radius: 50px;
}

a.cart-btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a.cart-btn:hover {
  background-color: #051922;
  color: #F28123;
}

a.cart-btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a.cart-btn:hover {
  background-color: #051922;
  color: #F28123;
}

.single-product-form a.cart-btn {
  margin-bottom: 15px;
}

a{
  list-style: none;
  text-decoration: none;
}

.cart-table-wrap tbody tr td {
  text-align: center;
}
.cart-table-wrap tbody tr td {
  border: 1px solid #efefef;
  padding: 20px 0;
  color: #051922;
}

table.cart-table {
  border: 1px solid #f9f9f9;
  width: 100%;
} 

.cart-table-wrap tbody tr td {
  text-align: center;
}

.cart-table-wrap tbody tr td {
  border: 1px solid #efefef;
  padding: 20px 0;
  color: #051922;
}

thead.cart-table-head tr {
  background-color: #efefef;
}

td.product-remove a {
  color: #051922;
}

.cart-table-wrap tbody tr td {
  text-align: center;
}
.cart-table-wrap tbody tr td {
  border: 1px solid #efefef;
  padding: 20px 0;
  color: #051922;
}

table.cart-table {
  border: 1px solid #f9f9f9;
  width: 100%;
}
.cart-table-wrap tbody tr td {
  text-align: center;
}
.cart-table-wrap tbody tr td {
  border: 1px solid #efefef;
  padding: 20px 0;
  color: #051922;
}

thead.cart-table-head tr {
  background-color: #efefef;
}

.fs3{
  font-size: 40px;
  color: #F28123;
}

.fs4{
  font-size: 24px;
  font-weight: 400;
  line-height: 3rem;
}

thead.cart-table-head tr {
  background-color: #efefef;
}

.total-section table.total-table {
  border: 1px solid #efefef;
  width: 100%;
}

.total-section table.total-table {
  border: 1px solid #efefef;
  width: 100%;
}
table.total-table tbody tr.total-data td {
  border: 1px solid #efefef;
  padding: 19px 15px;
}

tr.table-total-row {
  background-color: #efefef;
}

tr.table-total-row th {
  font-weight: 500;
  font-size: 15px;
  padding: 15px;
}

table.total-table tbody tr.total-data td {
  border: 1px solid #efefef;
  padding: 19px 15px;
}

tr.total-data td strong {
  margin-right: 32px;
}



.snp{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs1{
  font-size: 40px;
  color: #F28123;
}

.fs2{
  font-size: 24px;
  font-weight: 400;
  line-height: 4rem;
}

.snp2{
  height: 240px;
}